<!DOCTYPE html>

{% extends "core/authorized_base.html" %}

{% block content %}

<div class="card w-75 m-auto">
    <div class="card-header flex-nowrap">
        <div class="row text-start justify-content-end align-items-stretch text-nowrap">
            <div class="row text-start align-items-center">
                <div class="col d-flex align-items-center">
                    <img src="{{ profile.image.url }}" alt="Profile Image" class="img-thumbnail me-3" style="max-width: 50px;">
                    <h1 class="mb-0">{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
                </div>
                {% if profile.user == request.user %}
                <div class="col text-end">
                    <a href="{% url 'users:update_profile' profile.slug %}" class="btn btn-primary">Update Profile</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">

                <div class="row text-center">
                    <div class="col">
                        <h2>Groups</h2>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col">
                        <div class="list-group">
                            {% for group in profile.groups.all|dictsort:"name" %}
                            <a class="list-group-item-action" href="{% url 'groups:group_detail' group.name %}">
                                <div class="row">
                                    <div class="col">
                                        <h3>{{ group.name }}</h3>
                                    </div>
                                    <div class="col">
                                        <img src="{{ group.image.url }}" alt="Group Image" class="img-thumbnail me-3" style="max-width: 50px;">
                                    </div>
                                </div>
                            </a>
                            {% empty %}
                            <div class="col">
                                <p>You haven't joined any groups yet.</p>
                                <a href="{% url 'groups:create_group' %}" class="btn btn-primary">Create a Group</a>
                                <p>or</p> <a href="#" class="btn btn-primary">Join a Group</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row text-center">
                    <div class="col">
                        <h2>Events</h2>
                    </div>
                </div>
                <div class="row text-center">
                    {% for event in profile.events.all|dictsort:"date" %}
                    <a class="list-group-item-action" href="{% url 'groups:event_detail' event.id %}">
                        <div class="row">
                            <div class="col">
                                <h3>{{ event.name }}</h3>
                            </div>
                            <div class="col">
                                <p>{{ event.group.name }}</p>
                            </div>
                            <div class="col">
                                <p>{{ event.date }}</p>
                            </div>
                            <div class="col">
                                <p>{{ event.time }}</p>
                            </div>
                            <div class="col">
                                <img src="{{ event.image.url }}" alt="Group Image" class="img-thumbnail me-3" style="max-width: 50px;">
                            </div>
                        </div>
                    </a>
                    {% empty %}
                    <div class="col">
                        <p>You haven't joined any events yet.</p>
                        <a href="{% url 'groups:events_list' %}" class="btn btn-primary">Find an Event</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}